:root {
    --dark: #333;
    --light: #ffffff;
    --neutral: #f6f6f6;
    --neutral-dark: #d1d1d1;
    --color: #ff544e;
    --color-light: #ff9895;
    --color-mid: #ff9895;
    --color-mid-dark: #ff7671;
    --color-dark: #ff544e;
    --font-stack: "Josefin Sans", "Montserrat", "sans-serif";
  }
  
  .menu__button {
    --x: -50%;
    --y: 0;
    --z: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, var(--color-mid), var(--color-mid-dark));
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 2px 40px -10px var(--color);
    color: var(--light);
    font-size: 16px;
    white-space: nowrap;
    position: fixed;
    bottom: 3%;
    right: 4%;
    transform: translate3d(var(--x), var(--y), var(--z));
    cursor: pointer;
    z-index: 105;
    transition: .15s cubic-bezier(.33,1,.53,1);
    &[hidden] {
      --y: 200%;
    }
    div {
      display: grid;
      place-items: center;
      width: 15px;
      height: 15px;
      // margin-right: 20px;
      div {
        display: table;
        height: 2px;
        background: var(--light);
        box-shadow: 0 4px 0 var(--light), 0 -4px 0 var(--light);
      }
    }
  }
  
  .menu__overlay {
      width: 100%;
      height: 100%;
      background: rgba(#000, .1);
      position: fixed;
      z-index: 10;
  }
  
  .menu__body {
    
    --x: 0;
    --y: 0;
    --z: 0;
    
    display: block;
    width: 100%;
    background: var(--light);
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -9px 50px -30px black;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    z-index: 105;
    transform: translate3d(var(--x), var(--y), var(--z));
    transition: .2s cubic-bezier(.33,1,.53,1);
    &[hidden] {
      --y: 150%;
    }
    > *:not(:last-child) {
      border-bottom: 2px solid var(--neutral);
    }
  }
  
  .menu__header {
    // font-family: 'Lexend Peta';
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.75em;
    
    *{
      font-family: 'Lexend Peta';
    }
    label {
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      vertical-align: center;
      white-space: nowrap;
      margin: 0;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background: var(--color-mid);
      border-radius: 50%;
      cursor: pointer;
      color: white;
    }
  }
  
  .menu__links {
    font-family: 'Lexend Deca';
    display: flex;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    overflow-x: auto;
    a {
      flex: 1 1 1px;
      padding: 10px 8px;
      color: var(--dark);
      text-decoration: none;
      white-space: nowrap;
    }
  }
  
  .menu__contact {
    display: flex;
    padding: 8px;
    svg {
      width: 100%;
      fill: var(--color);
    }
    a {
      flex: 1 1 30%;
      padding: 5px;
      margin: 5px;
      border-radius: 8px;
      background: var(--neutral);
      color: var(--color);
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .menu__button {
    display: none;
  }

  @media (max-width: 500px ){
    .menu__button{
      display: inline;
      position: fixed !important;
    }

  }