
<div id="about">
  <div class="row-new">
    <div class="image"></div>
    <div class="descri"><img src="https://img.icons8.com/color/48/000000/suarez.png"/>
      <h5> <b>What is BUG4EVER?</b></h5>
      <p></p>
      <p><b>BUG4EVER</b> is the annual coding contest of <b>SIESGSTarena</b>.</p>
      <p>It is a <b>team</b> coding contest in which students participate in teams of <b>two</b>.</p>
      <p>The contest is designed with the idea of encouraging students to participate in competitive programming and also developing the culture of team building in them.</p>
      <p></p>
    </div>
  </div>
  <div class="row-new">
    <div class="image"></div>
    <div class="descri">
      <h5>How it works?</h5>
      <p></p>
      <p>The contest is divided into <b>two rounds</b>.</p>
      <ol>
        <li>
          <p><b>Qualifier Round</b>: It will be a <b>4 day online</b> coding round. The contest will be hosted on <b>Codechef</b> website. <br/><b>Top 10 teams</b> will qualify for the Onsite Finals.</p>
          <p></p>
        </li>
        <li>
          <p><b>Final Round</b>: Finals will be an <b>onsite</b> round (at SIESGST, Nerul) in which all the eligible participants will be competing in a <b>3 hour</b> coding contest.</p>
        </li>
      </ol>
      <p></p>
    </div>
  </div>
</div>