//- h1#about About
#about
    .row-new
        .image
        .descri
            h5 
                b What is BUG4EVER?
            p
            p
                b BUG4EVER
                |  is the annual coding contest of 
                b SIESGSTarena
                | .
            p
                | It is a 
                b team
                |  coding contest in which students participate in teams of 
                b two
                | .
            p
                | The contest is designed with the idea of encouraging students to participate in competitive programming and also developing the culture of team building in them.
            p
    .row-new
        .image
        .descri
            h5 How it works?
            p
            p
              | The contest is divided into 
              b two rounds
              | .
            ol
              li
                p
                  b Qualifier Round
                  | : It will be a 
                  b 4 day online
                  |  coding round. The contest will be hosted on 
                  b Codechef
                  |  website. 
                  br
                  b Top 10 teams
                  |  will qualify for the Onsite Finals.
                p
              li
                p
                  b Final Round
                  | : Finals will be an 
                  b onsite
                  |  round (at SIESGST, Nerul) in which all the eligible participants will be competing in a 
                  b 3 hour
                  |  coding contest.
            p