nav.navbar.fixed-top
    a#title(href="#main") BUG4EVER
    ul
        a(href="#about")
            li About
        a(href="#schedule")
            li Schedule
        a(href="#registration")
            li Registration
        a(href="#faq")
            li FAQ
        a(href="#contact")
            li Contact