h1 Registration
ol 
    li 
        | Only one member from each team needs to fill up the registration form and enter the details of both the members.
    li
        | Make sure you and your teammate are registered on 
        a(target="_blank" href="https://www.codechef.com") Codechef
        |  before filling up the form, as we will require your Codechef userIDs.
    li
        | You can pay via UPI only. Pay on this UPI ID XXXXXXXX (will update soon). After doing the payment, you have to fill up the registration form and mention your transaction ID to confirm your registration.
    li Further information will be given to you once you have registered successfully. 
#button-wrapper
    button Opening Soon