
<h1>Schedule</h1>
<div class="timeline">
  <ul>
    <li><span>12 Sept - 27 Sept</span>
      <div class="content">
        <h3>Registration</h3>
        <p>
          Registration will start on 13th September at 12:00 AM 
          and will end on 27th September at 11:59 PM.
        </p>
      </div>
    </li>
    <li><span>12 Sept - 27 Sept</span>
      <div class="content">
        <h3>Registration</h3>
        <p>
          Registration will start on 13th September at 12:00 AM 
          and will end on 27th September at 11:59 PM.
        </p>
      </div>
    </li>
    <li><span>12 Sept - 27 Sept</span>
      <div class="content">
        <h3>Registration</h3>
        <p>
          Registration will start on 13th September at 12:00 AM 
          and will end on 27th September at 11:59 PM.
        </p>
      </div>
    </li>
  </ul>
</div>