//- #schedule
h1 Schedule
.timeline
    ul
        li
            span 12 Sept - 27 Sept
            .content
                h3 Registration
                p.  
                    Registration will start on 13th September at 12:00 AM 
                    and will end on 27th September at 11:59 PM.
        li
            span 12 Sept - 27 Sept
            .content
                h3 Registration
                p.  
                    Registration will start on 13th September at 12:00 AM 
                    and will end on 27th September at 11:59 PM.
        li
            span 12 Sept - 27 Sept
            .content
                h3 Registration
                p.  
                    Registration will start on 13th September at 12:00 AM 
                    and will end on 27th September at 11:59 PM.